doctype html
html(class="no-js", lang="ru")
  include ../components/head/head.pug
  head
    +head(head.defaults)
  body.page
    |%=symbols=%

    .wrapper
      .content
        header.page-header
          .container
            .page-header__row-top.row.row--jc-sb
              .page-header__row-top-delivery.row.row--ai-c
                span.page-header__row-top-delivery-icon
                p.page-header__row-top-delivery-text.text.text--fw400 Бесплатная доставка от 1000 руб.
              .page-header__row-top-payment.row.row--ai-c
                p.page-header__row-top-payment-text.text.text--fw400 Оплата наличными или по карте:
                a.page-header__row-top-payment-link(href="#")
              ul.socials.list.row
                li.socials__items
                  a.socials__link.socials__link--vk(href="#")
                li.socials__items
                  a.socials__link.socials__link--fb(href="#")
                li.socials__items
                  a.socials__link.socials__link--od(href="#")
                li.socials__items
                  a.socials__link.socials__link--g(href="#")
                li.socials__items
                  a.socials__link.socials__link--tw(href="#")
                li.socials__items
                  a.socials__link.socials__link--v(href="#")
                li.socials__items
                  a.socials__link.socials__link--w(href="#")
              .page-header__row-top-time.row.row--ai-c
                span.page-header__row-top-time-icon
                p.page-header__row-top-time-text.text.text--fw400 Пекарня работает с 9:00 до 21:00
            .page-header__content
              .user-block.user-block--header.row.row--ai-c
                .logo.logo--header
                  .logo__img-wrap
                    img.logo__img(src="%=static=%img/content/logo-header.svg" alt="Логотип")
                  .logo__text-wrap
                    h2.logo__headline.text.text--uppercase.text--fw900 «Осетинская равнина»
                    p.logo__text.text.text--fw500 осетинские пироги
                ul.user-block-list.list.row.row--jc-sb.grow
                  li.user-block-items
                    a.user-block-link.text--td-none.text--fw500(href="#") Каталог
                  li.user-block-items
                    a.user-block-link.text--td-none.text--fw500(href="#") Доставка
                  li.user-block-items
                    a.user-block-link.text--td-none.text--fw500(href="#") Оплата
                  li.user-block-items
                    a.user-block-link.text--td-none.text--fw500(href="#") Акции
                  li.user-block-items
                    a.user-block-link.text--td-none.text--fw500(href="#") Отзывы
                  li.user-block-items
                    a.user-block-link.text--td-none.text--fw500(href="#") Контакты
                a.user-block__basket.text--td-none(href="#" data-total-price="0" data-count="0")
                  span.user-block__basket-count.text--center.text--fw600 0
                  span.user-block__basket-icon
                  .row.row--jc-c
                    p.user-block__basket-price.user-block__basket-price--num.text.text--fw600 0 
                    p.user-block__basket-price.user-block__basket-price--text.text.text--fw600 руб.
                .user-block__tel.column
                  a.user-block__tel-link.text--td-none.text--fw600(href="tel:74952007580") +7 (495)200-75-80
                  a.user-block__tel-feedback.text--td-none.text--fw500(href="#") Обратный звонок
              .page-header__row-bottom
                h1.page-header__row-bottom-headline.text.text--fw600.text--center Осетинские пироги с бесплатной доставкой в Москве
                p.page-header__row-bottom-text.text Заказать осетинские пироги с доставкой в Москве можно с 8:00 до 21:00 по телефону +7 (495) 324-90-00 или круглосуточно на сайте через корзину. На ваш выбор мы предлагаем услуги 4 пекарен, в которых выпекаются осетинские пироги на любой вкус - 
                  a.page-header__row-bottom-text-link.text--td-none(href="#") сладкие
                  |, 
                  a.page-header__row-bottom-text-link.text--td-none(href="#") мясные
                  |, 
                  a.page-header__row-bottom-text-link.text--td-none(href="#") с капустой
                  |, 
                  a.page-header__row-bottom-text-link.text--td-none(href="#") сырные
                  |, 
                  | и другие. Заказ осетинских пирогов в Москве с доставкой на дом и в офис выполняется оперативно: приготовление занимает 25-90 минут, а доставка от 30 минут до часа!
                nav.main-nav.row
                  h2.main-nav__list-headline.text.text--fw400.text--uppercase Категории:
                  ul.main-nav__list.list.row
                    li.main-nav__items
                      a.main-nav__link.text--uppercase.text--td-none.text--fw400(href="#") Постные
                    li.main-nav__items
                      a.main-nav__link.text--uppercase.text--td-none.text--fw400(href="#") Традиционные
                    li.main-nav__items
                      a.main-nav__link.text--uppercase.text--td-none.text--fw400(href="#") Фруктовые
                  .main-nav__border
                  h2.main-nav__list-headline.text.text--fw400.text--uppercase Начинка:
                  ul.main-nav__list.list.row.row--jc-sb.grow
                    li.main-nav__items
                      a.main-nav__link.main-nav__link--active.text--uppercase.text--td-none.text--fw400(href="#") Все
                    li.main-nav__items
                      a.main-nav__link.text--uppercase.text--td-none.text--fw400(href="#") Говядина
                    li.main-nav__items
                      a.main-nav__link.text--uppercase.text--td-none.text--fw400(href="#") Курица
                    li.main-nav__items
                      a.main-nav__link.text--uppercase.text--td-none.text--fw400(href="#") Рыба
                    li.main-nav__items
                      a.main-nav__link.text--uppercase.text--td-none.text--fw400(href="#") Капуста
                    li.main-nav__items
                      a.main-nav__link.text--uppercase.text--td-none.text--fw400(href="#") Картофель
                    li.main-nav__items
                      a.main-nav__link.text--uppercase.text--td-none.text--fw400(href="#") Грибы
                    li.main-nav__items
                      a.main-nav__link.text--uppercase.text--td-none.text--fw400(href="#") Перец
                    li.main-nav__items
                      a.main-nav__link.text--uppercase.text--td-none.text--fw400(href="#") Зелень
        main.page-content
        
      footer.page-footer
        .footer-content
          .container
            .user-block.user-block--footer.row.row--ai-c
              .logo.logo--footer
                .logo__img-wrap
                  img.logo__img(src="%=static=%img/content/logo-header.svg" alt="Логотип")
                .logo__text-wrap
                  h2.logo__headline.text.text--uppercase.text--fw900 «Осетинская
                    br
                    | равнина»
                  p.logo__text.text.text--fw500 осетинские пироги
              ul.user-block-list.list.row.grow
                li.user-block-items
                  a.user-block-link.text--td-none.text--fw500(href="#") Каталог
                li.user-block-items
                  a.user-block-link.text--td-none.text--fw500(href="#") Доставка
                li.user-block-items
                  a.user-block-link.text--td-none.text--fw500(href="#") Оплата
                li.user-block-items
                  a.user-block-link.text--td-none.text--fw500(href="#") Акции
                li.user-block-items
                  a.user-block-link.text--td-none.text--fw500(href="#") Отзывы
                li.user-block-items
                  a.user-block-link.text--td-none.text--fw500(href="#") Контакты
              .user-block__tel.column
                a.user-block__tel-link.text--td-none.text--fw600.text--right(href="tel:74952007580") +7 (495)200-75-80
                a.user-block__tel-feedback.text--td-none.text--fw500(href="#") Москва, Большой переулок, 23
            .footer-content__yandex-analytics.row.row--jc-fe
              .footer-content__yandex-analytics-img-wrap
                img.footer-content__yandex-analytics-img(src="%=static=%img/content/yandex-analytics.png" alt="Яндекс аналитика")
            .footer-content__copyright.row.row--jc-sb.row--ai-c
              p.footer-content__copyright-text.text © 2006 - 2018 Пекарня «Осетинская равнина»
              a.footer-content__copyright-developers-link.text--td-none.row.row--ai-c(href="#")
                p.footer-content__copyright-developers-text.text Создание и продвижение сайтов
                .footer-content__copyright-developers-img-wrap
                  img.footer-content__copyright-developers-img(src="%=static=%img/content/developers.png" alt="Разработчики")

    script(src='%=static=%js/separate-js/svg4everybody.min.js')
    script svg4everybody();

    //- Main scripts. You can replace it, but I recommend you to leave it here
    script(src='%=static=%js/main%=hash=%%=min=%.js')
