@font-face {
  font-family: 'Gill-Sans-Nova';
  font-style: normal;
  font-weight: 300;
  src: local('GillSansNova Light'), local('GillSansNova-Light'),
       url('../fonts/GillSansNova-Light.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/GillSansNova-Light.woff') format('woff') /* Modern Browsers */
}

@font-face {
  font-family: 'Gill-Sans-Nova';
  font-style: normal;
  font-weight: 400;
  src: local('GillSansNova Book'), local('GillSansNova-Book'),
       url('../fonts/GillSansNova-Book.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/GillSansNova-Book.woff') format('woff') /* Modern Browsers */
}

@font-face {
  font-family: 'Gill-Sans-Nova';
  font-style: normal;
  font-weight: 500;
  src: local('GillSansNova Medium'), local('GillSansNova-Medium'),
       url('../fonts/GillSansNova-Medium.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/GillSansNova-Medium.woff') format('woff') /* Modern Browsers */
}

@font-face {
  font-family: 'Gill-Sans-Nova';
  font-style: normal;
  font-weight: 600;
  src: local('GillSansNova SemiBold'), local('GillSansNova-SemiBold'),
       url('../fonts/GillSansNova-SemiBold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/GillSansNova-SemiBold.woff') format('woff') /* Modern Browsers */
}

@font-face {
  font-family: 'Gill-Sans-Nova';
  font-style: normal;
  font-weight: 900;
  src: local('GillSansNova Heavy'), local('GillSansNova-Heavy'),
       url('../fonts/GillSansNova-Heavy.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/GillSansNova-Heavy.woff') format('woff') /* Modern Browsers */
}

body {
  font-size: 19px;
  line-height: 23px;
  font-weight 300
  font-family: 'Gill-Sans-Nova', sans-serif;
  color: #596059;
  font-style: normal;
}

*::-webkit-input-placeholder {
  color #929292
  font-size: 16px;
  line-height: 19px;
  font-weight 300
  
  opacity: 1;
}

*:-moz-input-placeholder {
  color #929292
  font-size: 16px;
  line-height: 19px;
  font-family: 'Gill-Sans-Nova', sans-serif;
  font-weight 300
  
  opacity: 1;
}

*::-moz-placeholder {
  color #929292
  font-size: 16px;
  line-height: 19px;
  font-family: 'Gill-Sans-Nova', sans-serif;
  font-weight 300
  
  opacity: 1;
}

*:-ms-input-placeholder {
  color #929292
  font-size: 16px;
  line-height: 19px;
  font-family: 'Gill-Sans-Nova', sans-serif;
  font-weight 300
  
  opacity: 1;
}