.best-sellers__headline
  margin-bottom 15px
  
  font-size 32px
  line-height 38px
  color #f04034
  
.best-sellers__slider-wrap
  max-width 1725px
  margin 0 auto
  padding 0 20px
  
.best-sellers__slider
  position relative
  .owl-stage
    display flex !important
  .owl-item
    display flex !important
    flex-grow 1 !important
  .owl-dots
    margin-top 5px !important
  .owl-dot
    span
      width 25px !important
      height 5px !important
      
      background-color #fedabb !important
      
      border-radius 0 !important
      
      transition 0.2s ease !important
      &:hover
        background-color #ed423b !important
    &.active
      span
        background-color #ed423b !important
    &:focus
      outline none !important
  .owl-stage-outer
    z-index 10 !important
  .owl-nav
    position absolute !important
    top 0 !important
    left 0
    right 0
    bottom 0 !important
    z-index 5 !important
    
    display flex !important
    justify-content space-between !important
    height 32px !important
    margin-top 0 !important
    margin auto !important
  .owl-prev,
  .owl-next
    position relative
    left -45px
    
    display flex !important
    justify-content center !important
    align-items center !important
    width 32px !important
    height 32px !important
    margin 0 !important
    
    border 2px solid #ef4c45 !important
    border-radius 50% !important
    span
      position relative !important
      
      width 8px !important
      height 16px !important
      
      font-size 0 !important
      &::before,
      &::after
        center-absolute()
        
        content '' !important
        
        display block !important
        width 100% !important
        height 2px !important
        
        background-color #ef4c45 !important
      &::before
        bottom -5px !important
        
        transform rotate(45deg) !important
      &::after
        bottom 4px !important
        
        transform rotate(-45deg) !important
    &:hover
      background-color transparent !important
    &.disabled
      border-color #feddbf !important
      
      opacity 1 !important
      span
        &::before,
        &::after
          background-color #feddbf !important
    &:focus
      outline none !important
  .owl-next
    left 45px
    
    transform rotate(180deg) !important
    
@media(max-width 1830px)
  .best-sellers__slider 
    .owl-nav
      position static !important
      
      justify-content center !important
      margin-top 15px !important
    .owl-prev,
    .owl-next
      left 0 !important
      
      margin-right 245px !important
    .owl-next
      margin-right 0 !important
    .owl-dots
      position absolute
      top auto
      bottom 4px
      left 0
      right 0
      
      width 120px
      margin auto
      
@media(max-width 1440px)
  .best-sellers__slider-slide
    .cart-good__headline
      padding-left 3px
      padding-right 3px
      
      font-size 20px
      line-height 23px
    .cart-good__description-price
      font-size 27px
      line-height 30px
      
@media(max-width 1299px)
  .best-sellers__slider
    .owl-dots
      width 160px
      
@media(max-width 1199px)
  .best-sellers__slider
    .owl-dots
      width 200px
      
@media(max-width 1160px)
  .best-sellers__slider
    .owl-dot
      span
        transition none !important
        
@media(max-width 1000px)
  .best-sellers__slider
    .owl-dots
      display none !important
    .owl-prev
      margin-right 40px !important
      
@media(max-width 960px)
  .best-sellers__slider-wrap
    padding 0 10px
      
      
    
    