.features
  margin-bottom 20px

.features__headline
  margin-bottom 15px
  
  font-size 32px
  line-height 38px
  color #f04034
  
.features__description-wrap
  padding 35px 0
  
  background-color #fff8da
  
.features__description-item-img-wrap
  position relative
  
  display flex
  justify-content center
  align-items center
  width 130px
  height 130px
  margin-bottom 20px
  
  background-color #ffffff
  
  border 2px solid #fee37e
  border-radius 50%
  &::after
    content ''
    
    position absolute
    left 0
    right 0
    bottom -7.5px
    
    width 15px
    height 15px
    margin auto
    
    background-color #f2c12c
    
    border-radius 50%
    
.features__description-item-img
  width 80px
  height 80px
  
.features__description-item-text
  color #000000
  &--birthday
    color #f04034
    
@media(max-width 1160px)
  .features__description-item-text
    font-size 16px
    line-height 19px
    
@media(max-width 1000px)
  .features__headline
    margin-bottom 45px
  
  .features__description-list
    flex-direction column
    
  .features__description-items
    margin-bottom 25px
    &:last-child
      margin-bottom 0
    
  .features__description-item-img-wrap
    width 355px
    height 355px
    
  .features__description-item-img
    width 200px
    height 200px
    
  .features__description-item-text
    font-size 26px
    line-height 29px
    
@media(max-width 800px)
  .features__headline
    font-size 28px
    line-height 31px
    
@media(max-width 420px)
  .features__headline
    font-size 24px
    line-height 27px
    
@media(max-width 360px)
  .features__description-item-img-wrap
    width 300px
    height 300px
  
  