.logo
  position relative
  
  margin-right 4%
  
.logo__img-wrap
  position absolute
  top 25px
  left -12px
  bottom 0
  
  width 128px
  height 128px
  margin auto
  padding 12px
  
  background-color #ffffff
  
  border-radius 50%
  
.logo__text-wrap
  margin-left 140px

.logo__headline
  font-size 21px
  line-height 25px
  color #f04034
  
.logo__text
  font-size 21px
  line-height 25px