.page-content
  margin-bottom 70px
  &--basket
    margin-bottom 30px
    
@media(max-width 1200px)
  .page-content
    margin-bottom 20px
    
@media(max-width 840px)
  .page-content
    &--basket
      margin-bottom 0