.popular-good__headline
  margin-bottom 15px
  
  font-size 32px
  line-height 38px
  color #f04034
  
.popular-good__carts-items
  margin-bottom 33px
  
@media(max-width 1366px)
  .popular-good__carts-items
    &:last-child
      margin-right auto
      margin-left 0.5%
      
@media(max-width 1339px)
  .popular-good__carts-items
    &:last-child
      margin-left 0
      margin-right 0
      
@media(max-width 1339px)
  .popular-good__carts-items
    width 49%
    
@media(max-width 650px)
  .popular-good__carts-items
    width 100%
    
@media(max-width 420px)
  .popular-good__headline
    font-size 24px
    line-height 27px
      